/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    cursor: pointer;
}

/* @viewport {
    width: device-width;
    zoom: 1.0;
} */


/* Mobile-first CSS */
/* HEADER */

.header {
    background-color: rgb(26, 25, 21);
    background-image: url(../images/header/header-mobile-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 138px;
}

.container {
    width: 320px;
    margin: 0 auto;
}

.authorization-menu {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 32px;
}

.authorization-menu__list {
    display: flex;
    justify-content: center;
    margin-bottom: 112px;
}

/* .authorization-menu__list-item {} */

.authorization-menu__list-item-button {
    font-size: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    border-style: none;
    background-color: rgba(26, 25, 21, 0);
    width: 90px;
    height: 36px;
}

.authorization-menu__list-item-button:hover,
.header__wrapper-button:hover {
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    background: none;
}

.logotype {
    font-size: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

/* .header__wrapper {} */

.header__wrapper-caption {
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 18px;
}

.header__wrapper-caption-linebreak {
    display: block;
}

.header__wrapper-description {
    font-size: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 18px;
}

.header__wrapper-description-linebreak {
    display: block;
}

.header__wrapper-button {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    border-style: none;
    border-radius: 20px;
    background-color: rgb(255, 78, 80);
    width: 280px;
    height: 40px;
}

/* SECTION PARTNER */

.section__partner {
    padding-top: 68px;
    padding-bottom: 56px;
}

.partner__caption {
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 14px;
}

/* .partner__card-list {} */

.partner__card-list-item {
    margin-bottom: 24px;
}

.partner__card-wrapper {
    position: relative;
    width: 122px;
    margin: 0 auto;
    margin-bottom: 18px;
}

.partner__card-wrapper::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 31px;
    height: 31px;
}

.partner__photo-01::after {
    background-color: rgb(255, 78, 80);
    background-image: url(../images/main/section-partner/icons/tv.png);
}

.partner__photo-02::after {
    background-color: rgb(255, 165, 7);
    background-image: url(../images/main/section-partner/icons/flask.png);
}

.partner__photo-03::after {
    background-color: rgb(28, 215, 173);
    background-image: url(../images/main/section-partner/icons/cup.png);
}

.partner__photo-04::after {
    background-color: rgb(78, 115, 219);
    background-image: url(../images/main/section-partner/icons/plane.png);
}

.partner__card-image {
    border-radius: 50%;
    background-color: rgb(251, 251, 251);
}

.partner__card-title {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 16px;
}

.partner__card-description {
    display: block;
    width: 220px;
    margin: 0 auto;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(102, 102, 102);
    line-height: 1.2;
    text-align: center;
}

.partner__button {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 78, 80);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 78, 80);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 284px;
    height: 44px;
}

.partner__button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 78, 80);
}

/* @media TABLET */

@media (min-width: 768px) {

    /* HEADER */

    .header {
        background-image: url(../images/header/header-tablet-image.png);
        padding-top: 38px;
        padding-bottom: 234px;
    }

    .container {
        width: 748px;
    }

    .authorization-menu {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px 46px 146px 46px;
    }

    .authorization-menu__list {
        margin-bottom: 0px;
    }

    .header__wrapper-caption {
        font-size: 52px;
        margin-bottom: 26px;
    }

    .header__wrapper-caption-linebreak {
        display: block;
    }

    .header__wrapper-description {
        font-size: 24px;
        margin-bottom: 26px;
    }

    .header__wrapper-description-linebreak {
        display: inline-block;
    }

    .header__wrapper-button {
        width: 226px;
    }

    /* MAIN */

    .section__partner {
        padding-bottom: 40px;
    }

    .partner__caption {
        margin-bottom: 30px;
    }

    .partner__card-list {
        width: 492px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .partner__card-wrapper {
        margin-bottom: 18px;
    }

    .partner__button {
        width: 192px;
    }
}

/* @media DESKTOP */

/* HEADER */

@media (min-width: 1440px) {

    .header {
        background-image: url(../images/header/header-desktop-image.png);
        padding-top: 38px;
        padding-bottom: 234px;
    }

    .container {
        width: 942px;
    }

    .authorization-menu {
        margin: 0px 2px 146px 2px;
    }

    /* MAIN */

    .section__partner {
        padding-bottom: 70px;
    }

    .partner__card-list {
        width: auto;
        flex-wrap: nowrap;
    }

    .partner__button {
        width: 192px;
    }
}