/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    cursor: pointer;
}

/* Mobile-first CSS */
/* HEADER */

.header {
    background-color: rgb(26, 25, 21);
    background-image: url(../images/header/header-mobile-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 138px;
}

.header__top-row {
    margin-bottom: 40px;
    align-items: center;
}

.authorization-menu__list {
    display: flex;
    justify-content: center;
}

.authorization-menu__list-item:not(:last-child) {
    margin-right: 10px;
}

.authorization-menu__list-item-button {
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-style: none;
    background-color: rgba(26, 25, 21, 0);
    width: 90px;
    height: 36px;
}

.authorization-menu__list-item-button:hover,
.header__wrapper-button:hover {
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    background: none;
}

.logotype {
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.header__wrapper {
    color: rgb(255, 255, 255);
}

.header__wrapper-caption {
    font-size: 30px;
    font-family: "Montserrat";
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    margin-bottom: 18px;
}

.header__wrapper-caption-linebreak {
    display: block;
}

.header__wrapper-description {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 300;
    margin-bottom: 18px;
}

.header__wrapper-button {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-style: none;
    border-radius: 20px;
    background-color: rgb(255, 78, 80);
    width: 280px;
    height: 40px;
}

/* SECTION PARTNER */

.section__partner {
    padding-top: 68px;
    padding-bottom: 56px;
}

.partner__caption {
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: 700;
    margin-bottom: 16px;
}

/* .partner__card-list {} */

.partner__card-wrapper {
    position: relative;
    width: 122px;
    margin: 0 auto;
    margin-bottom: 18px;
}

.partner__card-wrapper::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 31px;
    height: 31px;
}

.partner__card-image {
    border-radius: 50%;
    background-color: rgb(251, 251, 251);
}


.partner__card-title {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: 700;
    margin-bottom: 16px;
}

.partner__card-description {
    display: block;
    width: 220px;
    margin: 0 auto;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(102, 102, 102);
}

.partner__photo-01::after {
    background-color: rgb(255, 78, 80);
    background-image: url(../images/main/section-partner/icons/tv.png);
}

.partner__photo-02::after {
    background-color: rgb(255, 165, 7);
    background-image: url(../images/main/section-partner/icons/flask.png);
}

.partner__photo-03::after {
    background-color: rgb(28, 215, 173);
    background-image: url(../images/main/section-partner/icons/cup.png);
}

.partner__photo-04::after {
    background-color: rgb(78, 115, 219);
    background-image: url(../images/main/section-partner/icons/plane.png);
}

.partner__button {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 78, 80);
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 78, 80);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 40px;
}

.partner__button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 78, 80);
}


/* @media TABLET */

@media (max-width: 767px) {

    /* HEADER */

    .logotype {
        display: block;
        width: max-content;
        margin: 0 auto;
    }

    .authorization-menu {
        margin-bottom: 118px;
    }

    .header__wrapper-description-linebreak {
        display: block;
    }

    /* MAIN */

    .partner__card-list-item {
        margin-bottom: 24px;
    }

    .partner__caption-linebreak {
        display: block;
    }
}

@media (min-width: 768px) {
    .header {
        background-image: url(../images/header/header-tablet-image.png);
        padding-top: 38px;
        padding-bottom: 234px;
    }

    .header__top-row {
        margin-bottom: 152px;
    }

    .authorization-menu__list {
        justify-content: flex-end;
    }

    .header__wrapper-button {
        width: 226px;
    }

    .header__wrapper-caption {
        font-size: 52px;
        margin-bottom: 42px;
    }

    .header__wrapper-description {
        font-size: 24px;
        margin-bottom: 34px;
    }

    /* MAIN */

    .section__partner {
        padding-top: 72px;
        padding-bottom: 40px;
    }

    .partner__caption {
        margin-bottom: 32px;
    }

    .partner__card-list {
        margin-bottom: 40px;
    }

    .partner__button {
        width: 192px;
    }

    .partner__card-list-item:nth-last-child(2n) {
        margin-bottom: 58px;
    }
}

/* @media DESKTOP */
/* HEADER */

@media (min-width: 1440px) {
    .header {
        background-image: url(../images/header/header-desktop-image.png);
    }
}


.Rectangle_1 {
    background-color: rgb(26, 25, 21);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 700px;
    z-index: 42;
  }
  